   .parallax {
    /* Image */
    background-image: url('img_parallax.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
    /* Text */
    font-family: 'Quicksand', sans-serif;
    color: white
}
