/* Butns is created by Shreyas Lad and is liscensed inder the MIT Liscense */

.btn-redWhite{
  background-color: red;
  color: white;
}
.btn-Arial{
  font-family: Arial;
}
.btn-Open{
  font-family: 'Open Sans', sans-serif;
}
